/* GLOBAL */
* {
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body,
html {
  background-color: #f9f9f9;
  height: 100%;
}

:root {
  --card-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  --second-color: #24252a;
  --third-color: #cc9964;
  --fourth-color: #212225;
}

.zoom-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
  justify-content: center;
  align-items: center;
}
.zoom-content {
  background-color: #f9f9f9;
  padding: 1rem;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.5s;
  animation-name: zoom;
  animation-duration: 0.5s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.zoom-img {
  max-width: 1000px;
  max-height: 680px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.zoom-bg-planos {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
  justify-content: center;
  align-items: center;
}

.zoom-img-planos {
  max-width: 2000px;
  max-height: 680px;
  /* object-fit: contain; */
  display: block;
  margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #393939;
  height: 2rem;
}

.img-cross {
  border-radius: 5px;
  cursor: zoom-in;
  transition: 0.3s ease-in-out;
}
.img-cross:hover {
  transform: scale(1.025);
  transition: 0.3s ease-in-out;
}

/* NAVBAR */
nav li,
a,
button {
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
header {
  background-color: #24252a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  box-shadow: var(--card-shadow);
}
.logo-nav {
  max-width: 25%;
  cursor: pointer;
}
.nav-links {
  list-style: none;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  align-self: center;
}
.nav-links li a {
  transition: 0.5s;
}
.nav-links li a:hover {
  color: var(--third-color);
}
.boton-nav {
  padding: 9px 25px;
  background-color: var(--third-color);

  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}
.boton-nav:hover {
  color: rgba(240, 230, 140, 0.7);
}

/* S1 */

.parallax {
  height: 100%;
  background-image: url("../img/Renders/Vallejos-V17.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--card-shadow);
}

.parallax2 {
  height: 80%;
  background-image: url("../img/Renders/Vallejos-V17.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--card-shadow);
  position: relative;
}
.parallax3 {
  height: 100%;
  background-image: url("../img/Renders/Vallejos-V17.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--card-shadow);
}

.parallax3 i {
  font-weight: 800;
  color: var(--third-color);
  font-size: 0.5rem;
  margin: 1.1rem 0.5rem 0 0;
}

.parallax3 ul {
  padding: 0;
}

.parallax3 li {
  font-size: 1rem;
  line-height: 2.2rem;
  padding: 0rem;
  margin: 0;
  text-align: justify;
}
.parallax3 .titulo-cross {
  text-align: center;
}

.semipisos .card {
  height: 100%;
}
.semipisos .card-body {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.tres-amb .col-md-4 {
  display: block;
  margin: 0 auto;
}
.tres-amb ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-hero {
  position: relative;
  z-index: 2;
  font-size: 4.5rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  color: white;
  background-color: rgba(204, 153, 100, 0.84); /* third-color */
  padding: 1rem;
}

/* S2 */
#section2 {
  padding: 3rem 0 3rem 0;
  position: relative;
}
.titulo-cross {
  color: var(--third-color);
  font-size: 1.1rem;
  font-weight: 400;
}
.texto-cross-1 {
  font-size: 1rem;
  line-height: 2.2rem;
  padding: 1.4rem;
  text-align: justify;
  margin: 0;
}
.img-cross {
  width: 100%;
  padding: 0;
}

.texto-cross-2 {
  font-size: 1rem;
  line-height: 2.2rem;
  padding: 1.4rem;
  margin: 0;
  text-align: justify;
}

/* S3 */
#section3 {
  margin: 3rem 0 3rem 0;
}
.img-s3-cross-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-s3-cross-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .img-s3-cross-2-container:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.img-s3-cross-2-container:hover:after {
  opacity: 1;
} */
.titulo-cross {
  margin: 1.1rem 0 0.5rem 0;
  color: var(--third-color);
  font-size: 1.1rem;
  font-weight: 600;
}
.lista-cross {
  padding: 0;
}
.s3-cross-box,
.s3-cross-box-2 {
  padding: 0 0 0 1rem;
}
.s3-cross-box-2 {
  padding: 1.8rem 0 0 1.2rem;
}
li {
  list-style: none;
  display: flex;
  align-items: baseline;
}
#section3 i {
  font-weight: 800;
  color: var(--third-color);
  font-size: 0.5rem;
  margin: 1.1rem 0.5rem 0 0;
}

/* S4 */

#section4 {
  padding: 3rem 0 1.5rem 0;
  background-color: #f9f9f9;
}
#section4 .row:nth-child(2) {
  margin: 2rem 0 2rem 0;
}
#section4 .row:nth-child(3) {
  margin: 5rem 0 2rem 0;
}
#section4 .col-md-3 {
  padding: 0;
}
.titulo-seccion {
  background: rgba(204, 153, 100, 0.9);
  padding: 1rem 5rem 1rem 5rem;
  color: white;
  display: block;
  margin: 2rem auto 3.5rem auto;
  color: var(--second-color);
  font-size: 3rem;
  font-weight: 600;
}
.amenities {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo-amenities {
  font-size: 1.2rem;
  color: var(--second-color);
  margin: 1.5rem 0 0 0;
  font-family: "Lato", serif;
}
#section4 i {
  font-size: 3.6rem;
  color: var(--third-color);
}

/* S5 */

#section5 {
  padding: 3rem 0 5rem 0;
  background-color: var(--second-color);
}
#section5 .titulo {
  text-align: center;
  background: rgba(204, 153, 100, 0.9);
  padding: 1rem 5rem 1rem 5rem;
  color: #f9f9f9;
  display: block;
  margin: 2rem auto 3.5rem auto;
  color: var(--second-color);
  font-size: 3rem;
  font-weight: 600;
}
form {
  width: 40%;
  display: block;
  margin: 0 auto;
}
input {
  color: white;
}
.form-control {
  background: var(--second-color);
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid var(--third-color);
  padding: 2rem 0 2rem 0;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: var(--second-color);
}
.btn-square {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0.8rem 2.8rem;
  background-color: var(--third-color);
  border: none;
  /* border-radius: 50px; */
  cursor: pointer;
  transition: 0.5s;
}
.btn-square:hover {
  color: rgba(240, 230, 140, 0.7);
}
#nosotros {
  margin: 3rem 0 3rem 0;
}
#nosotros h1 {
  text-align: center;
}
#footer {
  background-color: var(--fourth-color);
  padding: 3rem 0 3rem 0;
}
#footer .col-12 {
  text-align: center;
}
#footer img {
  width: 10%;
  margin: 1rem 0 0 0;
}
#footer h1 {
  color: var(--third-color);
  font-size: 1rem;
  margin: 1rem;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: var(--third-color);
  color: #f9f9f9;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: var(--card-shadow);
  z-index: 100;
}
.float:hover {
  opacity: 0.9;
  color: #f9f9f9;
}

.my-float {
  margin-top: 16px;
}
.embed-responsive {
  justify-content: center;
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .titulo-hero {
    font-size: 1rem;
  }
  .titulo-seccion {
    padding: 1rem 0 1rem 0;
  }
  #section5 .titulo {
    font-size: 1rem;
  }
  nav ul,
  #anchor-contacto {
    display: none;
  }
  .logo-nav {
    max-width: 100%;
  }
  .parallax {
    height: 90%;
  }
  .titulo-seccion {
    padding: 1.2rem 5.2rem 1.2rem 5.2rem;
    margin: 0rem auto 1rem auto;
    font-size: 1.3rem;
  }
  .texto-cross-1,
  .texto-cross-2 {
    line-height: 2rem;
    padding: 1.5rem;
  }
  .img-cross:hover {
    transform: none;
    transition: none;
  }
}
